<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết Email</title>
  <style>
    body {
      margin: 0;
      padding: 20px;
    }

    .email-container {
      padding: 20px;
      border-radius: 10px;
    }

    h1 {
      margin: 0;
      font-size: 24px;
    }

    .sender {
      font-weight: bold;
    }

    .message {
      margin-top: 20px;
    }
    .compose-container {
      width: 100%;
      background-color: rgb(31, 196, 247);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .compose-content {
      width: 1200px;
      background-color: white;
      padding: 16px;
      height: 700px;
      border-radius: 10px;
    }
    .nav-bar {
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
    }
    .layout-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
    }

    .item-menu:hover {
      color: rgb(31, 196, 247);
      cursor: pointer;
    }
    button {
      height: 40px;
      padding: 15px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: none;
      background-color: rgb(9, 175, 226);
      font-weight: 600;
      color: white;
      font-size: 14px;
      cursor: pointer;
    }
    span {
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="compose-container">
    <div class="compose-content">
      <div class="nav-bar">
        <p class="menu-items">Xin chào: <%= userName %>
        </p>
        <p class="menu-items" onclick="location.href='/logout'">Đăng xuất</p>
      </div>
      <hr>
      <div class="layout-content">
        <div
          style="margin-top: 10px; width: 15%; display: flex; flex-direction: column; align-items: center; border: 1px solid rgb(211, 205, 205); border-radius: 10px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; height: 220px;">
          <h3>Danh mục</h3>
          <p class="item-menu" onclick="location.href='/compose'">Soạn tin nhắn</p>
          <p class="item-menu" onclick="location.href='/inbox'">Hộp thư đến</p>
          <p class="item-menu" onclick="location.href='/outbox'">Hộp thư đi</p>
        </div>
        <div style="width: 75%;">
          <div class="email-container">
            <h1>Chi tiết email</h1>
            <p class="sender">Người gửi: <%= email.sender_name %>
            </p>
            <p><span>Chủ đề:</span> <%= email.subject %>
            </p>
            <p><span>Thời gian:</span> <%= new Date(email.sent_at).toLocaleDateString('en-GB') %>
            </p>
            <div class="message">
              <span>Nội dung:</span>
              <p>
                <%= email.message %>
              </p>
            </div>
            <% if (email.attachment) { %>
              <div>
                <span> Tải xuống tập tin</span> 
                <a style="margin-left: 5px;" href="/<%= email.attachment %>">Tải tệp tin</a>
              </div>
            <% } %>
            <button style="margin-top: 10px;" onclick="location.href='/inbox'">Trở lại Hộp thư đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>